<div class="signin-box shadow-z-2">
    <h2>Sign In</h2>
    <form ng-submit="signin()">
        <div class="input-section">
            <input type="text"
                   class="form-control floating-label"
                   data-hint="Please specify your username for GitHub"
                   placeholder="GitHub"
                   ng-model="githubUsername">
        </div>
        <div class="input-section">
            <input type="text"
                   class="form-control floating-label"
                   data-hint="Please specify your username for Worktile"
                   placeholder="Worktile"
                   ng-model="worktileUsername">
        </div>
        <div class="input-section">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="rememberMe"> Remember me
                </label>
            </div>
        </div>
        <div class="input-section">
            <button type="submit" class="btn btn-primary" ng-click="signin()">Sign In</button>
            <a class="btn btn-default pull-right" ui-sref="signup">Don't have an account? Sign up for free.</a>
        </div>
    </form>
</div>
