<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Github &hearts;s Worktile</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/roboto.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/material-fullpalette.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/ripples.css" rel="stylesheet">

    <link href="styles/site.css" rel="stylesheet">
</head>
<body ng-app="GithubLovesWorktile">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Github <i class="fa fa-heart"></i>s Worktile</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul ng-show="true" class="nav navbar-nav">
                <li><a ui-sref="connections.list">Connections</a></li>
                <li><a href="javascript:void(0)">Triggers</a></li>
                <li><a href="javascript:void(0)">Status</a></li>
                <li><a ui-sref="about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="SignInController">
                <li ng-hide="me">
                    <a href="javascript:void(0)" ng-click="signin($event)">Sign In</a>
                </li>
                <li class="dropdown" ng-show="me">
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="avatar" ng-src="{{me.avatar}}" title="{{me.display_name}}">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="profile">Edit Profile</a></li>
                        <li><a href="javascript:void(0)" ng-click="signout($event)">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="well" ui-view>
    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/arrive/src/arrive.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" >
        $.material.init();
    </script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="lib/api.js"></script>
    <script type="text/javascript" src="lib/storage.js"></script>
    <script type="text/javascript" src="modules/security/signin.js"></script>
    <script type="text/javascript" src="modules/security/signup.js"></script>
    <script type="text/javascript" src="modules/misc/about.js"></script>
    <script type="text/javascript" src="modules/connection/connection.js"></script>
</body>
</html>